<div id="navigation">
    <div class="profile-picture">
        <a ui-sref="home.global">
            <img src="images/kylo-ren.jpg" class="img-circle m-b" alt="logo" style="width: 110px; height: 100px">
        </a>
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Brian Gor</span>
            <small class="text-muted">briangor13@gmail.com</small>
        </div>
    </div>
    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="home.global">
                <span class="nav-label">Home</span>

            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="home.student">
                <span class="nav-label">Student</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="home.course">
                <span class="nav-label">Course</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="home.institution">
                <span class="nav-label">Institution</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="home.analytics">
                <span class="nav-label">Analytics</span>
            </a>
        </li>
    </ul>
</div>