<div ui-view>
    <div class="normalheader small-header">
        <div class="hpanel">

            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li><a ui-sref="home.global"><span>Home</span></a></li>
                        <li class="active">
                            <span>Analytics</span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    Admin
                </h2>
                <small>Analytics</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="hpanel">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading">
                            Number of Students in an institution
                        </div>
                        <div class="panel-body">
                            <div><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="singleBarOptions" height="237" width="510" style="display: block; height: 317px; width: 681px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading">
                            Major courses
                        </div>
                        <div class="panel-body">
                            <div><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="doughnutChart" height="215" width="323" style="display: block; height: 287px; width: 431px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>